name: Sync to Secondary Repo

on:
  push:
    branches:
      - main

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to secondary repo
        run: |
          git config user.name "oyeowart"
          git config user.email "oliver.yeowart@cavalrycare.co.uk"
          git remote set-url origin https://x-access-token:${{ secrets.PAT_TOKEN }}@github.com/oyeowart/H4K.git
          git push https://x-access-token:${{ secrets.PAT_TOKEN }}@github.com/oyeowart/H4K.git HEAD:main --force
