name: Sync to Secondary Repo

on:
  push:
    branches:
      - main

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to H4K
        run: |
          git push https://oyeowart:${{ secrets.PAT_TOKEN }}@github.com/oyeowart/H4K.git HEAD:main --force
